<button style="margin-bottom: 5px" (click)="changeShowPanel()">{{panelText}}</button>
<div class="container" *ngIf="openGetSrc">
  <h1>Securities block</h1>

  <div class="container">
    <h2>Get security by id</h2>
    <div *ngIf="hasFoundById">
      <h4>Id: {{securityById.id}} || SecId: {{securityById.secId}} || Name: {{securityById.name}}</h4>
      <h4>RegNumber: {{securityById.regNumber}} || EmitentTitle: {{securityById.emitentTitle}}</h4>
    </div>
    <form (submit)="getSecurityById(getId.value)">
      <input type="number" placeholder="Id" #getId>
      <button>Get</button>
    </form>
    <h3 style="color: red">{{errorNameMessage.message}}</h3>
  </div>

  <div class="container">
    <h2>Delete security by id</h2>
    <form (submit)="delSecurityById(delId.value)">
      <input type="number" placeholder="Id" #delId>
      <button>Get</button>
    </form>
  </div>

  <div class="container">
    <h2>Create security</h2>
    <form (ngSubmit)="saveSecurity()">
      <input
        id="file"
        type="file"
        (change)="onFileChange($event)">
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="container">
    <h2>Update security</h2>
    <form (submit)="updateSecurity(id.value, secId.value, regNumber.value, name.value, emitentTitle.value)">
      <input type="number" placeholder="Id" #id>
      <input type="text" placeholder="secId" #secId>
      <input type="text" placeholder="regNumber" #regNumber>
      <input type="text" placeholder="name" #name>
      <input type="text" placeholder="emitent Title" #emitentTitle>
      <button>Update</button>
      <hr>
    </form>
  </div>

</div>
