<button style="margin-bottom: 5px" (click)="changeShowPanel()">{{panelText}}</button>
<div class="container" *ngIf="openGetSrc">
  <h1>Histories block</h1>
  <div class="container">
    <h2>Get history by id</h2>
    <div *ngIf="hasFoundById">
      <h4>Id: {{historyById.id}} || SecId: {{historyById.secId}} || numTrades: {{historyById.numTrades}}</h4>
      <h4>tradeDate: {{historyById.tradeDate | date:'short'}} || open: {{historyById.open}} || close: {{historyById.close}}</h4>
    </div>
    <form (submit)="getHistoryById(getId.value)">
      <input type="number" placeholder="Id" #getId>
      <button>Get</button>
    </form>
    <h3 style="color: red">{{errorNameMessage.message}}</h3>
  </div>

  <div class="container">
    <h2>Delete history by id</h2>
    <form (submit)="delHistoryById(delId.value)">
      <input type="number" placeholder="Id" #delId>
      <button>Get</button>
    </form>
  </div>

  <div class="container">
    <h2>Create history</h2>
    <form (ngSubmit)="saveHistory()">
      <input
        id="file"
        type="file"
        (change)="onFileChange($event)">
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="container">
    <h2>Update history</h2>
    <form (submit)="updateHistory(id.value, secId.value, date.value, numTrades.value, open.value, close.value)">
      <input type="number" placeholder="Id" #id>
      <input type="text" placeholder="secId" #secId>
      <input type="date" placeholder="date" #date>
      <input type="number" placeholder="numTrades" #numTrades>
      <input type="number" placeholder="open" #open>
      <input type="number" placeholder="close" #close>
      <button>Update</button>
      <hr>
    </form>
  </div>

</div>
