<div class="container">
  <h2>Get sum data by secId</h2>
  <form (submit)="getSumDataBySecId(getId.value)">
    <input type="text" placeholder="secId" #getId>
    <button>Get</button>
  </form>
  <div *ngIf="show">
    <ul>
      <li *ngFor="let info of data">
        <p>secId: {{info.secId}} || name: {{info.name}}</p>
        <p>emitentTitle: {{info.emitentTitle}} || regNumber: {{info.regNumber}}</p>
        <p>numTrades: {{info.numTrades}} || tradeDate: {{info.tradeDate | date: 'short'}}</p>
        <p>open: {{info.open}} || close: {{info.close}}</p>
        <hr>
      </li>
    </ul>
  </div>
</div>
